## Q.1.  In Python, what is the difference between a built-in function and a user-defined function? Provide an example of each.

## Answer:

#### Python Built-In Function: 
Python built-in functions are pre-defined functions in Python that come with the Python installation. Pre-defined functions in different libraries are also built-in functions. We can directly use these functions in python program as per our requirement.

#### Python User-Defined Function: 
A Python user-defined function is a function that the user defines to solve a particular problem statement. This is not pre-defined in a Python program; the user explicitly defines it as per requirement. 


### Example:

In [5]:
# max(), sum(), len(), print() -  these are python pre-defined function which can directly be used

L1=[1,2,3,4,5,6,7,8,9,10]
print(max(L1))
print(len(L1))
print(sum(L1))

10
10
55

In [6]:
# user defined function to check if given number is even or odd

def check_odd_even(num):
    if num % 2 == 0:
        print(f"Given number {num} is even number.")
    else:
        print(f"Given number {num} is odd number")

In [11]:
check_odd_even(11)

Given number 11 is odd number

In [12]:
check_odd_even(110)

Given number 110 is even number.

## Q.2.  How can you pass arguments to a function in Python? Explain the difference between positional arguments and keyword arguments.

## Answer:
Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

#### Positional Argument: 
Inside parentheses, while passing arguments to function, if order matters, then it falls under the category of positional argument. If we change the position of the argument, then the output differs, or we may get an unexpected result or sometimes an error.

#### Keyword Argument:
Inside parentheses, while passing arguments to function, if order does not matter, then it falls under the category of keyword argument. We pass the argument using the name of the argument followed by an equal sign and the value of the argument. If we change the position of the argument, then output remains the same; output does not change.

### Example:

In [29]:
## there are three arguments and its position matters

def num_sum(operation,a,b):
    if operation.lower()=='sum':
        c= a+b
        return c
    elif operation.lower()=='sub':
        c= a-b
        return c
    elif operation.lower()=='mul':
        c= a*b
        return c
    elif operation.lower()=='div':
        c= a/b
        return c

In [30]:
num_sum('sum',28,70) # arguments passed in order, running successful

98

In [31]:
num_sum(28,'div',70) # arguments not passed in order, getting error

AttributeError: 'int' object has no attribute 'lower'

In [33]:
## there are three arguments and its position does not matters

def num_sum_new(operation='sum',a=0,b=0):
    if str(operation.lower())=='sum':
        c= a+b
        return c
    elif str(operation.lower())=='sub':
        c= a-b
        return c
    elif str(operation.lower())=='mul':
        c= a*b
        return c
    elif str(operation.lower())=='div':
        c= a/b
        return c
    else:
        print("enter right input")

In [38]:
num_sum_new(operation='sub',a=100,b=50)

50

In [37]:
num_sum_new(a=100,operation='sub',b=50)  # orgument order changed, but output is same

50

In [39]:
num_sum_new(b=50,a=100,operation='sub')  # orgument order changed, but output is same

50

## Q.3.  What is the purpose of the return statement in a function? Can a function have multiple return statements? Explain with an example.

## Answer:
The purpose of a return statement in a function is to return the value as an output. The output may be of any type. If the return statement is not used, then the return value will be None.

Yes, a function can have multiple return statements as Python has given us the liberty and program run successfully, but it always considers the first return statement.

### Example:

In [68]:
def addition(a,b):
    return a+b
    return a-b
    return a*b
    return a/b

In [70]:
addition(50,10)

60

In [71]:
addition(60,10)

70

In [72]:
def addition_1(a,b):
    return a*b
    return a-b
    return a+b
    return a/b

In [74]:
addition_1(50,10)

500

In [75]:
addition_1(5,10)

50

## Q.4.  What are lambda functions in Python? How are they different from regular functions? Provide an example where a lambda function can be useful.


## Answer:
Lambda functions are similar to user-defined functions but without a name. They're commonly referred to as anonymous functions.
Lambda functions are efficient whenever you want to create a function that will only contain simple expressions – that is, expressions that are usually a single line of a statement.

To create a lambda function, we don't require the keywords "def" and "return" and are also not required to give a function name, which is required for creating regular functions. We can write only a single-line expression in the lambda function, but in the rugular function, we can write blocks of statements as per usecase. This is how a lambda function is different from a regular function.

You should use the lambda function to create simple expressions. For example, expressions that do not include complex structures such as if-else, for-loops, and so on.

### Example:

In [77]:
import pandas as pd

df = pd.DataFrame(
    {"name": ["IBRAHIM", "SEGUN", "YUSUF", "DARE", "BOLA", "SOKUNBI"],
     "score": [50, 32, 45, 45, 23, 45]
    }
)

In [78]:
df

      name  score
0  IBRAHIM     50
1    SEGUN     32
2    YUSUF     45
3     DARE     45
4     BOLA     23
5  SOKUNBI     45

In [79]:
df["lower_name"] = df["name"].apply(lambda x: x.lower())

In [80]:
df

      name  score lower_name
0  IBRAHIM     50    ibrahim
1    SEGUN     32      segun
2    YUSUF     45      yusuf
3     DARE     45       dare
4     BOLA     23       bola
5  SOKUNBI     45    sokunbi

In [81]:
df["title_name"] = df["name"].apply(lambda x: x.title())

In [82]:
df

      name  score lower_name title_name
0  IBRAHIM     50    ibrahim    Ibrahim
1    SEGUN     32      segun      Segun
2    YUSUF     45      yusuf      Yusuf
3     DARE     45       dare       Dare
4     BOLA     23       bola       Bola
5  SOKUNBI     45    sokunbi    Sokunbi

In [83]:
df["Grade"] = df["score"].apply(lambda x: 'C' if x < 33 else 'B')

In [84]:
df

      name  score lower_name title_name Grade
0  IBRAHIM     50    ibrahim    Ibrahim     B
1    SEGUN     32      segun      Segun     C
2    YUSUF     45      yusuf      Yusuf     B
3     DARE     45       dare       Dare     B
4     BOLA     23       bola       Bola     C
5  SOKUNBI     45    sokunbi    Sokunbi     B

## Q.5.  How does the concept of "scope" apply to functions in Python? Explain the difference between local scope and global scope.


## Answer:

## Q.6.  How can you use the "return" statement in a Python function to return multiple values?


## Answer:

It is possible to return multiple values in Python from a function. As per the use case, we can write a Python program, and as a return, we can get an object, list, tuple, dictionary, single value etc. There are many ways of getting multiple values as a return.

### Example:

In [ ]:
class math_operation:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    
    def display_number(self):
        print(f"First Value- {a}, Second Value- {b}")
        
def

## Q.7.  What is the difference between the "pass by value" and "pass by reference" concepts when it comes to function arguments in Python?


## Answer:

## Q.8.  Create a function that can intake integer or decimal value and do following operations:
a. Logarithmic function (log x)
<br> b. Exponential function (exp(x))
<br> c. Power function with base 2 (2*)
<br> d. Square root


## Answer:

## Q.9.  Create a function that takes a full name as an argument and returns first name and last name.

## Answer: