# Python Assignment

#### Q1. What are the two values of the Boolean data type? How do you write them?
#### Ans- 
The two value of boolean data type are True (1) and False (0).

In [4]:
x = True
print(x,"--",type(x))
y = False
print(y,"--",type(y))

True -- <class 'bool'>
False -- <class 'bool'>

#### Q2. What are the three different types of Boolean operators?
#### Ans -
Three type of boolean operator are as follow -

In [2]:
## Below is code for generating table 
import pandas as pd
Dict1 = {"Operator":["and","or","not"]
         ,"Meaning":["True if both the operands are true","True if either of the operand is true","True if operand is false"]
         ,"Example":["a and b","a or b","not a"]}
df = pd.DataFrame(Dict1, index=["1","2","3"])
df

  Operator                                Meaning  Example
1      and     True if both the operands are true  a and b
2       or  True if either of the operand is true   a or b
3      not               True if operand is false    not a

#### Q3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).
#### Ans - 
Truth table with 'and', 'or', and 'not' condition are below -

In [41]:
### Below is code for generating table
import pandas as pd
print("")
print("----------------------------")
print("Truth table with 'and' condition")
print("")
Dict1 = {"a":["True","True"  ,"False" ,"False"],
         "b":["True","False" ,"True"  ,"False"],
   "a and b":["True","False" ,"False" ,"False"]}
df1 = pd.DataFrame(Dict1, index=["1","2","3","4"])
print(df1)
print("")
print("----------------------------")
print("Truth table with 'or' condition")
print("")
Dict2 = {"a":["True","True" ,"False","False"],
         "b":["True","False","True" ,"False"],
    "a or b":["True","True" ,"True" ,"False"]}
df2 = pd.DataFrame(Dict2, index=["1","2","3","4"])
print(df2)
print("")
print("----------------------------")
print("Truth table with 'not' condition")
print("")
Dict3 = {"a":["True"  ,"False"],         
     "not a":["False" ,"True" ]}
df3 = pd.DataFrame(Dict3, index=["1","2"])
print(df3)
print("")
print("----------------------------")

----------------------------
Truth table with 'and' condition

       a      b a and b
1   True   True    True
2   True  False   False
3  False   True   False
4  False  False   False

----------------------------
Truth table with 'or' condition

       a      b a or b
1   True   True   True
2   True  False   True
3  False   True   True
4  False  False  False

----------------------------
Truth table with 'not' condition

       a  not a
1   True  False
2  False   True

----------------------------

#### Q4. What are the values of the following expressions?
(5 > 4) and (3 == 5) \
not (5 > 4) \
(5 > 4) or (3 == 5) \ 
not ((5 > 4) or (3 == 5)) \
(True and True) and (True == False) \
(not False) or (not True) 


#### Ans- 
The result of above expressions are below - \
\
(5 > 4) and (3 == 5)  =>>> False  \
not (5 > 4)  =>>> False \
(5 > 4) or (3 == 5)  =>>> True \
not ((5 > 4) or (3 == 5))  =>>> False \
(True and True) and (True == False)  =>>> False \
(not False) or (not True)  =>>> True

#### Q5. What are the six comparison operators?
#### Ans - The six comparison operators are as below - 
  '<'   ----  less than                 ---- a < b \
  '<='  ----  less than or equal to     ---- a <= b \
  '>'   ----  greater than              ---- a > b \
  '>='  ----  greater than or equal to  ---- a >= b \
  '=='  ----  equal ---- a == b \
  '!='  ----  not equal ---- a != b \

#### Q6. How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.
#### Ans - 
Equal to Operator(==): This is used for comparing tow values. If we want to check a condition whether value for two variables are same or not and hence we use equal operator. Lets understand with an example-  \
10 == 20 \
Output is False because we compared 10 with 20 and found that both the value is different. If both the value is same the output will be True. Example is given below.

Assignment Operator: This is used for assigning value to a variable. Example is given below. \
a=10\
b=a+20\
Here, value or evaluation of right side expression is assigned to left side operand

In [13]:
a=10 ## assigning values to variable a
a

10

In [14]:
b=a+20 ## assigning values to variable b
b

30

In [6]:
10==20 ## comparing two values

False

In [11]:
50==50 ## comparing two values

True

In [7]:
a=8 ## assigning values to variable a
b=8 ## assigning values to variable b 
a==b ## comparing values

True

In [9]:
'xyz' == 'xyz' ## comparing two values

True

In [10]:
'xyz' == 'XYZ' ## comparing two values

False

#### Q7. Identify the three blocks in this code:
spam = 0\
if spam == 10:\
print('eggs')\
if spam > 5:\
print('bacon')\
else:\
print('ham')\
print('spam')\
print('spam')\

#### Ans -

In [15]:
# Three blocks are identified --
spam = 0
if spam == 10:
    print('eggs')
if spam > 5:
    print('bacon')
else:
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

#### Q8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.
#### Ans -

In [22]:
#spam = 1  # comment/uncomment for output
#spam = 2    # comment/uncomment for output
spam = 10    # comment/uncomment for output
if spam == 1:
    print('Hellow')
elif spam == 2:
    print('Howdy')
else:
    print('Greetings!')

Greetings!

#### Q9. How can you tell the difference between break and continue?
#### Ans -

#### break statement:-- break statement is used to terminate the loop whenever a particular condition is satisfied.
* Here in the below for loop statement, when "i" is encountered value equal to 6 break statement has terminated the loop execution

In [2]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i==6:
        break 
    print(i)

1
2
3
4
5

* Here in the below for loop statement, when "j" is encountered value equal to 6 break statement has terminated the inner loop 
* and when "i" becomes equal to 8 then break statement has terminated the outer loop
* meaning when break statement is written in any of the loop statement it terminates the loop execution when a particular condition is met

In [6]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    for j in [1,2,3,4,5,6,7,8,9,10]:
        if j==6:
            break
    if i==8:
        break
    print(i,j)

1 6
2 6
3 6
4 6
5 6
6 6
7 6

#### continue statement:-- continue statement skips the current iteration when condition is satisfied and continue to run next iteration.
* here in the below example, when "a" encountered "E" skipped the current iteration that's why "E" is not printed and continue running next iteration

In [7]:
for a in ['A','B','C','D','E','F','G','H','I','J']:
    if a == 'E':
        continue
    print(a)

A
B
C
D
F
G
H
I
J

#### Q10. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?
#### Ans - 
#### range() is built in function and create sequence of number by default from index 0.
#### range(start, stop, step)

In a for loop, if we use any of this statement range(10) or range(0, 10) or range(0, 10, 1), output will be the same. Example is given below -

In [28]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

#### Q11. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.
#### Ans -

In [24]:
## using for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
## using while loop
a = 1
while a <=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

#### Q12. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?
#### Ans -

In [ ]:
# this is one way directly from using package name
import spam
spam.bacon()

# this is second way by creating alias of package name
import spam as sp
sp.bacon()