# Python Assignment

#### Q.1 - In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be      mathematical operators.
* , 'hello' , -87.8 , - , / , + , 6

#### Ans - 
'hello' is string value. 
-87.8 is float value. 
6 is integer value. 

These are mathematical operatore: addition ( + ), subtraction ( - ), division ( / ), and multiplication ( * )

#### Q.2 - What is the difference between string and variable?
#### Ans-
1) Variable is container which stores different type of value that can be used in program as per use case. A variable can store different type of value such as integer, float, string etc. For Example - 

    a = 10 

    b = 10.11

    c = 'Good Morning'

2) String is a data type in Python that represents a sequence of characters. It is an immutable data type that means once declared can not be changed.

#### Q.3 Describe three different data types.
#### Ans â€“ 

Followings are three data types in python - 

(1) Integer- Integers are data type with zero, positive or negative whole numbers without a fractional part and having unlimited precision. Integers can be binary, octal, and hexadecimal values. All integer literals or variables are objects of the int class. For example 10, 0 , 1000, -1200, -10 etc.

(2)	Float- The float data type in Python represents the floating point number. Float is used to represent real numbers and is written with a decimal point dividing the integer and fractional parts. All floats literals or variables are objects of the float class. For example 97.98, 32.3+e18, -32.54e100 etc.

(3)	String- A string is a data type in Python that represents a sequence of characters. It is an immutable data type, meaning that once you have created a string, you cannot change it. Strings are used widely in many different applications, such as storing and manipulating text data, representing names, addresses, and other types of data that can be represented as text. All string literals or variables are objects of the str class.

#### 4. What is an expression made up of? What do all expressions do?
Ans- An expression is a combination of operands and operator which produce some other value and evaluated as per the precedence of its operators.

x = a + b

where "a" and "b" is operand and "+" is operator
addition of "a" and "b" is generating a other value which is stored in variable "x"

####  5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Ans- 
1) Each and every line in python program is a statement. Statement may includes a line with variable declaration, variable assignment, any     expression, any control flow statement, loops, functions etc. and any other line which is a part of executable programe is statement.

2) spam = 10 --> This is not expression, we are just storing a integer value to a variable "spam"

#### 6. After running the following code, what does the variable bacon contain?
#### bacon = 22
#### bacon + 1

#### Ans-
When python program execute line by line, variable "bacon" will store value 22 first and then from the next statement it will store value 23

In [18]:
bacon = 22
print(bacon)
print(bacon + 1)

22
23

#### 7. What should the values of the following two terms be?
#### 'spam' + 'spamspam'
#### 'spam' * 3

#### Ans- Output of both the term will be same, code and output is mentioned below.
1)- 'spam' + 'spamspam' = 'spamspamspam'

2)- 'spam' * 3 = 'spamspamspam'

In [19]:
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

#### 8. Why is eggs a valid variable name while 100 is invalid?

#### Ans- 
 There is rule defined for variable name in python programming. Variable name can not start with value and hence 100 is invalid.
 Variable name can start with character or any string value and so "eggs" is valid name.

In [26]:
eggs = 10
print(eggs)
a_100 = 'Apple'
print(a_100)

10
Apple

In [28]:
100 = 'Apple'
print(100)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (260210530.py, line 1)

#### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Ans- There are functions int(), float(), and str() is used to return integer, float, and string value respectively and can also be used to convert the number in given base.

In [54]:
print("-------int() function---------")
print(int('1000'), " -- " ,type(int('1000'))) 
print(int(9.999), " -- " ,type(int(9.999)))
print(int(500), " -- " ,type(int(500)))
print("-------float() function---------")
print(float('1000'), " -- " ,type(float('1000'))) 
print(float(9.999), " -- " ,type(float(9.999)))
print(float(-500), " -- " ,type(float(-500)))
print("-------str() function---------")
print(str('1000'), " -- " ,type(str('1000'))) 
print(str(9.999), " -- " ,type(str(9.999)))
print(str(-500), " -- " ,type(str(-500)))

-------int() function---------
1000  --  <class 'int'>
9  --  <class 'int'>
500  --  <class 'int'>
-------float() function---------
1000.0  --  <class 'float'>
9.999  --  <class 'float'>
-500.0  --  <class 'float'>
-------str() function---------
1000  --  <class 'str'>
9.999  --  <class 'str'>
-500  --  <class 'str'>

#### Q.10  Why does this expression cause an error? How can you fix it?
####       'I have eaten ' + 99 + ' burritos.'

#### Ans- 
 This will throw TypeError because datatype is different. Integer and String value can not be concatenated together.
 Here value 'I have eaten' and 'burritos' is string and 99 is integer. We have to convert 99 into string to fix the error.
 CorrectExpression = 'I have eaten ' + str(99) + ' burritos.'

In [30]:
CorrectExpression = 'I have eaten ' + str(99) + ' burritos.'
print(CorrectExpression)

I have eaten 99 burritos.